body {
    background-color: #3f3f3f !important;
}

h6 {
    color: aliceblue;
}

#try-again, #start-game {
    box-shadow: 0 0 9px 2px aliceblue !important;
    background-color: #292929FF !important;
    color: #d6d6d6 !important;
}

#start-game, #try-again {
    border: none;
    border-radius: .2em;
    margin: auto;
    padding: .7em .8em !important;
    font-size: 1.3em !important;
    font-weight: bold !important;
}

.container-template {
    display: grid;
    place-items: center;
    height: 100vh;
}

.center-flex-child {
    justify-content: center;
    align-items: center;
}

.title {
    color: aliceblue;
}

#try-again:hover, #try-again:focus, #start-game:hover, #start-game:focus {
    box-shadow: 0 0 15px 2px aliceblue !important;
    border: none;
}

#start-game:hover,
#start-game:focus,
#try-again:hover,
#try-again:focus {
    transition: 100ms cubic-bezier(1, 0.1, 0.54, 1.08) !important;
    transform: scale(1.1);
}

#defaultCanvas0 {
    box-shadow: 0 0 20px 10px #333;
}

#end, #start {
    text-align: center !important;
}

#end *, #start * {
    color: aliceblue;
}

#score {
    display: inline-block;
    margin: 1em;
}